* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f7f6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #e2e2e2;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  width: 650px;
  min-height: 450px;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
}

.chat-header {
  font-size: 1.5em;
  background-color: #007BFF;
  color: white;
  padding: 20px;
  text-align: left;
}

.chat-content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

#user-message, #bot-message {
  display: block;
  max-width: 80%;
  word-wrap: break-word;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 18px;
}

#user-message {
  background-color: #d9f7d9;
  margin-left: auto;
  margin-right: 0;
  text-align: left;
}

#bot-message {
  background-color: #ebebeb;
  margin-left: 0;
  margin-right: auto;
  text-align: left;
}

form {
  display: flex;
  padding: 20px;
  background-color: #f4f7f6;
  border-top: 1px solid #e2e2e2;
}

#user-input {
  flex-grow: 1;
  padding: 12px 20px;
  margin-right: 8px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}


@media (max-width: 768px) {
  .chat-container {
    width: 95%;
    min-height: 90vh;
    border-radius: 5px;
  }

  .chat-header {
    font-size: 1.2em;
    padding: 15px;
  }

  .chat-content {
    padding: 15px;
  }

  form {
    padding: 15px;
    flex-direction: column;
    align-items: stretch;
  }

  #user-input {
    width: 100%;
    margin-right: 0;
    margin-bottom: 8px; /* Add some space between the input and the button on small screens */
  }

  button {
    width: 100%;
    padding: 12px;
  }
}